.main-body {
  display: flex;
  flex-direction: column;
  background-color: #82acd6;
  min-height: 80rem;
}

.body {
  display: flex;
  flex-direction: column; 
  font-size: larger;
  background-color: #82acd6;
  font-size: 24px;
}

input {
    padding: 10px;
    margin: 24px;
    width: 80%;
}

form {
    margin-left: 2em;
    text-align: left;
}

h2 {
    text-align: center;
    font-size: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 5px;
}

li {
    text-align: center;
    font-size: 1em;
    margin-top: 5px;
}

ul {
  list-style-type: none;
}

button {
    float: right;
    margin-right: 2em;
}
